@page 
@model FilmsRazor.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="@(Model.Movie.Poster ?? "/images/default-poster.jpg")" class="fixed-size-img rounded shadow" alt="Poster of @Model.Movie.Name">
        </div>

        <div class="col-md-8">
            <h1 class="mb-3">@Model.Movie.Name (@Model.Movie.Year)</h1>
            <p><strong>Режиссёр:</strong> @Model.Movie.Director</p>
            <p><strong>Жанр:</strong> @Model.Movie.Genre</p>
            <p><strong>Год:</strong> @Model.Movie.Year</p>
            <p><strong>Описание:</strong></p>
            <p>@(string.IsNullOrEmpty(Model.Movie.Description) ? "Описание отсутствует." : Model.Movie.Description)</p>
            <div class="buttons-details">
                <div class="back-details">
                    <a asp-page="/Movies/Index">Back</a>
                </div>
                <div class="back-details">
                    <a asp-page="/Edit" asp-route-id="@Model.Movie.Id">Edit</a>
                </div>
                <div class="back-details">
                    <a asp-page="/Delete" asp-route-id="@Model.Movie.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
